[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/restful_acl"]
	path = vendor/plugins/restful_acl
	url = git://github.com/mdarby/restful_acl.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/selenium_on_rails"]
	path = vendor/plugins/selenium_on_rails
	url = git://github.com/ryanb/selenium-on-rails.git
[submodule "vendor/plugins/partial_renderer"]
	path = vendor/plugins/partial_renderer
	url = git://github.com/html/partial_renderer.git
[submodule "vendor/plugins/once"]
	path = vendor/plugins/once
	url = git://github.com/html/once.git
