body {
	background-image:url(/images/bg1.jpg);
	background-attachment: scroll;
	background-position: left top;
	background-repeat: repeat;
}
#background {	
	background-image:url(/images/top.png);
	background-attachment: fixed;
	background-position: left top;
	background-repeat: repeat-x;
}


.styl1	 {
	font-size: 9px;
	font-family: Geneva, Arial, Helvetica, sans-serif; }


#top {
background: #0f4063;
	margin: -6px 0px 0px -6px;
width: 101%;
height: 100px;
border:none;
}
#daun {
background: #0f4063;
margin: 100px 0px 0px -6px;
width: 101%;
height: 100px;
border:none;
}
ul#cssmenu {
        width:440px;
        margin: 0;
        border: 0 none;
        padding: 0;
        list-style: none;
        height: 20px;
        font: 14px/10px Geneva, Arial, Helvetica; 
        border-left: 0px solid;
}

ul#cssmenu li {
        margin: 0;
        border: 0 none;
        padding: 0;
        float: left;
        display: inline;
        list-style: none;
        position: relative;
        height: 20px;
		
}

ul#cssmenu ul {
        margin: 0;
        border: 0 none;
        padding: 0;
        width: auto;
        list-style: none;
        display: none;
        position: absolute;
        top: 15px;
        left: 0;
        text-align:left;
		
}

ul#cssmenu ul:after {
        clear: both;
        display: block;
        font: 2px/1px serif;
        content: ".";
        height: 0;
        visibility: hidden;
}

ul#cssmenu ul li {
        width: 90px;
        float: left;
        display: block !important;
        display: inline;
}

/* Main Menu */
ul#cssmenu a {
	border: 0px;
	padding: 0 4px;
	float: none !important;
	float: left;
	display: block;
	color: #FFFFFF;
	font: 14px/10px Geneva, Arial, Helvetica; 
	text-decoration: none;
	height: auto !important;
	height: 1%;
}

.block_opacity {

    opacity: 0.5;filter: alpha(opacity=50);

} 
.block_opacity1 {

    opacity: 0.3;filter: alpha(opacity=30);

} 
.block_opacity2 {

    opacity: 0.8;filter: alpha(opacity=80);

} 

/* Main Menu Hover */
ul#cssmenu a:hover,
ul#cssmenu li:hover a,
ul#cssmenu li.iehover a {
	color:#000000;
	border-top: 0px solid;
}

/* Second Menu */
ul#cssmenu li:hover li a,
ul#cssmenu li.iehover li a {
        border-top: 0px solid;
        float: none;
        color: #FFFFFF;
}

/* Second Menu Hover */
ul#cssmenu li:hover li a:hover,
ul#cssmenu li:hover li:hover a,
ul#cssmenu li.iehover li a:hover,
ul#cssmenu li.iehover li.iehover a {
	border-top: 2px solid #FFFFFF;
	background: #FFFFFF;
	color:#000000;
	border:#000000 0px solid;
}

ul#cssmenu ul ul {
        display: none;
        position: absolute;
        top: 0;
        left: 10px;
}

ul#cssmenu li:hover ul ul,
ul#cssmenu li.iehover ul ul {
        display: none;
}

ul#cssmenu li:hover ul,
ul#cssmenu ul li:hover ul,
ul#cssmenu li.iehover ul,
ul#cssmenu ul li.iehover ul {
        display: block;
} 

img {
  border:0;
}
