%table{ :cellspacing => "0", :border => "0", :align => "center", :width => "55%", :cellpadding => "0" }
  - if @items.size.zero?
    %tr
      %td=t('No albums in this category')
  - else
    - for item in @items
      %tr.tr
        %td{ :width => 150 }
          %div{ :align => 'right' }=image_tag item.image.url
        %td
          .map 
            %p#p11
              =link_to item.title, photos_user_path(item)
    =will_paginate @items, :partial => '/front_pagination'
