- stylesheet '/fancybox/jquery.fancybox-1.2.6.css', 'easySlider'
= javascript_include_jquery
= javascript_include_tag '/fancybox/jquery.fancybox-1.2.6.js', 'jquery/plugins/easySlider'
- items = @items.clone
%table{ :cellspacing => "0", :border => "0", :align => "center", :width => "55%", :cellpadding => "0" }
  %tr
    - if @items.size.zero?
      %td
        =t('No images in this album')
    - else
      -#=render :partial => '/paginate_part', :locals => {:items => items, :cols => 1}
      %td
        #slider{ :style => 'float:left;margin:10px 0'}
          %ul
            - while !@items.size.zero? do
              %li
                - 3.times do
                  - i = @items.shift
                  - if !i.nil?
                    %div{ :style => 'height:105px' }
                      =link_to_function image_tag(i.photo.url(:thumb)), sprintf('preview(%s)', i.photo.url(:preview).to_json, i.photo.url.to_json), :rel => :box
        .clear
        %span#prevBtn=link_to_function image_tag('/images/verx.png', :hover_image => '/images/verx1.png', :class => 'swap')
        %span#nextBtn=link_to_function image_tag('/images/dun.png', :hover_image => '/images/dun1.png', :class => 'swap')
      -#=render :partial => '/paginate_part', :locals => {:items => items, :cols => 1}
      %td#preview{ :style => 'width:550px;', :align => 'center', :valign => 'top'}
        =link_to image_tag(@first.photo.url(:preview), :style =>  'max-height:300px;max-width:550px;margin:10px;'), @first.photo.url, :class => :box, :rel => :box
:javascript
  function preview(url, url2){
    $('#preview img').attr('src', url);
    $('#preview a').attr('href', url2);
  }
  $(function(){
    $('.box').fancybox({
      'zoomOpacity'			: true,
      'overlayShow'			: false,
      'zoomSpeedIn'			: 300,
      'zoomSpeedOut'			: 300
    });

    $('#slider').easySlider({
      vertical : true,
      prevId: 'prevBtn',
      nextId: 'nextBtn',
      controlsShow: false
    });
  });

:javascript
  $(function(){
    $('.swap').each(function(){
      (new Image()).src = $(this).attr('hover_image');
      $(this).hover(function(){
        $.data(this, 'waiting_image', this.src);
        this.src = $(this).attr('hover_image');
      }, function(){
        this.src = $.data(this, 'waiting_image');
      })
    });
  });
