- title "Album"

%p
  %strong Title:
  =h @album.title
= image_tag @album.image.url

%p
  = link_to "Edit", edit_album_path(@album)
  |
  = link_to "Destroy", @album, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", albums_path
